body {
    background-color: black;
}

h1 {
    color: #FDFBF9;
    font-family: 'Audiowide', cursive;
    font-size: 80px;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}